.container.about-container#about
    .row
        .col-12.col-md-12.col-lg-4
            h3 I was born in 
                span Athens 
                | at the dawn of the 
                i 'glorious' 
                | 80s. The last decade I am living in
                span  Berlin.
    
        .col-12.col-md-6.col-lg-4
            p I have studied '3D Animation &amp; Multimedia Productions' in 'AKTO Art &amp; Design School of Athens' and graduated with the Bachelor of Arts. Completing also an Illustrator and InDesign module in Berlin, gave me the opportunity to become an Adobe Certified Associate. 
            
        .col-12.col-md-6.col-lg-4
            p Currently I am studying web development in DCI School, Berlin. I am learning to build web applications, by using all the latest technologies.
