.container.about-container#about
    .row
        .col-12
            h3.title.text-left.section-title.section-title-about.text-center Who I am
        span.section-division
        .col-12.col-md-12.col-lg-4
            h3 I was born in 
                span Athens 
                | at the dawn of the 
                i 'glorious' 
                | 80s. For a decade I am living in
                span  Berlin.
    
        .col-12.col-md-6.col-lg-4
            p The last 6 months I am becoming a full-stack web developer at Digital Career Institute in Berlin. We are building web applications using all the modern technologies like Node.JS, Express, MongoDB. We will do a large project soon using agile methodologies and learn about project management.

        .col-12.col-md-6.col-lg-4
            p I have a Bachelor of Arts in '3D Animation &amp; Multimedia Productions' and worked in the field of television and music videos. Being an artist, I love the creative possibilities found in coding web applications. It allows me to combine my passion for graphics and art with modern technologies to create something completely different.
            
        span.section-division    
