.container.about-container#about
    .row
        .col-12
            h3.title.text-left.section-title.section-title-about.text-center Who I am
        span.section-division
        .col-12.col-md-12.col-lg-4
            h3 I was born in 
                span Athens, 
                | for more than a decade I am living in
                span  Berlin.
    
        .col-12.col-md-6.col-lg-4
            p Completed a one year course in Web Development, helped me gain new skills by building small web applications using technologies like React, Node, Express &amp; MongoDB.

        .col-12.col-md-6.col-lg-4
            p Being also an artist, I love the creative possibilities found in coding web applications which allows me to combine my passion for graphics and art with modern technologies.
            
        span.section-division    
