.jumbotron-fluid.text-center

    .container-fluid.background-image
    
    h1.hello Hi, I am 
        span Kostas
    p a 
        span berlin 
        | based junior developer

    svg.icon-arrow-down.align-self-center(version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 45.5 25.2")
        polygon(points="22.9,24.8 0.7,3.9 4,0.4 22.9,18.2 41.5,0.4 44.8,3.8")