.container.projects-container#projects
    .row
        .col-12
            h3.title.text-left Projects
            each project in helpers.projectThumbnails
                .col-12.col-md-6.project-thumbnail.position-relative.d-inline-block.rounded-0
                    img.img-thumbnail.border-0(src=`${project.src}` alt=`${project.alt}`)
                    a.project-thumbnail-hover(href=`${project.href}` target="_blank")
                        