.container.skills-container#skills
    .row
        .col-12.col-md-12
            h3.title.section-title.text-center Skills

            each skill in helpers.skills
                p.technology-title= `${skill.technology}`
                .progress
                    .progress-bar(role='progressbar' style='width: 0%;' aria-valuenow=`${skill.percent}` aria-valuemin='0' aria-valuemax='100')