.container.skills-container#skills
    .row
        .col-12.col-md-12
            h3.title Skills

            ul
                li HTML
                li CSS
                li SCSS
                li JavaScript
                li Bootstrap
                li NodeJS
                li MongoDB
                li Adobe Illustrator (Adobe Certified Associate)
                li Adobe InDesign (Adobe Certified Associate)
                li Adobe Photoshop