#------------------------------------------------------------------------#
# Environment settings                                                   #
#------------------------------------------------------------------------#

NODE_ENV=development

#------------------------------------------------------------------------#
# Server settings                                                        #
#------------------------------------------------------------------------#

PORT=7777

#------------------------------------------------------------------------#
# SSL/TLS Security settings                                              #
#------------------------------------------------------------------------#

# SSL=on
# SSL_KEY=
# SSL_CERT=

# The chain parameter is only needed for older node versions
# SSL_CHAIN=

#------------------------------------------------------------------------#
# The Deffie-Hellman param is optional and used as a stronger encryption #
# key than the default one of your system.                               #
#------------------------------------------------------------------------#

# SSL_DHPARAM=