#------------------------------------------------------------------------#
# Environment settings                                                   #
#------------------------------------------------------------------------#

NODE_ENV=development

#------------------------------------------------------------------------#
# Server settings                                                        #
#------------------------------------------------------------------------#

PORT=7777

#------------------------------------------------------------------------#
# Mail Settings                                                          #
#------------------------------------------------------------------------#

MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USER=
MAIL_PASS=
MAIL_FROM=
MAIL_TO=