// Imports
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,800');
@import "bootstrap-custom";
@import "~bootstrap/scss/bootstrap";
$fa-font-path: "~font-awesome/fonts";
@import '~font-awesome/scss/font-awesome.scss';

// Global Styles 

h1 {
    color: $text-color;
    font-weight: 600;
}

h3 {
    color: $text-color;
    margin-top: 0px;
    font-weight: 800;
    margin-bottom: 1rem;
}

p {
    color: $text-color;
    font-weight: 400;
}

span {
    color: $highlights;
}

label {
    font-weight: 400;
    color: $text-color;
    text-transform: uppercase;
}

ul {
    list-style-type: none;
    padding-left: 0px;
}

.container {
    padding-left: 0;
    padding-right: 0;
}

h3.title {
    color: $text-color;
    margin-top: 0px;
    font-weight: 600;
    margin-bottom: 1rem;
    font-size: 1.3rem;
    text-transform: uppercase;

}

// Navbar

.fixed-top {
    left: 1rem;
    top: 0.8rem;
}


.navbar-light .navbar-nav .nav-link {
    color: #fff;
    font-weight: 400;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}
    // Change color of element on scroll

.scrolled .navbar-light .navbar-nav .nav-link {
    color: #000;
}

.navbar-light .navbar-brand {
    color: #fff;
    font-weight: 600;
    letter-spacing: 0.3rem;
    font-size: 1.4rem;
    text-transform: uppercase;
    &:hover {
        color: #fff;   
    }
}

    // Change color of element on scroll

.scrolled .navbar-light .navbar-brand {
    color: $text-color;
    &:hover {
        color: $text-color;   
    }
}

// Navbar Toggler

.navbar-toggler {
    margin-right: 1rem;
}

.navbar-toggler-icon {
    transform: rotate(-45deg);
}

button:focus {
    outline: none;
}

.navbar-light .navbar-toggler-icon {
    background-image: none;
}

.bar {
    background: #fff;
    display: block;
    padding: 1px;
    margin-top: 6px;
}

    // Change color of element on scroll

.scrolled .bar {
    background: $text-color;
    display: block;
    padding: 1px;
    margin-top: 6px;
}

.top-bar {
    animation: rotation 7s cubic-bezier(0.74, 0, 0.36, 0.99) infinite;
    // animation-delay: 3.5s;
    margin-left: 7px;
    width: 15px;
}

.middle-bar {
    animation: rotation 7s cubic-bezier(0.74, 0, 0.36, 0.99) infinite;
    // animation-delay: 3.4s;
    width: 30px;
}

.bottom-bar {
    animation: rotation 7s cubic-bezier(0.74, 0, 0.36, 0.99) infinite;
    // animation-delay: 3s;
    margin-left: 7px;
    width: 15px;
}

@keyframes rotation {
    80% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(180deg);
    }
}

// Landing

.jumbotron-fluid {
    display: flex;
	flex-direction: column;
    padding: 125px 100px;
	position: relative;
	justify-content: center;
	min-height: 100vh;
	color: #fff;
    
    .background-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url(/images/aurora_landing_compressed.jpeg);
        background-size: cover;
        z-index: -1;

        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    h1.hello {
        color: #fff;
        font-weight: 400;
        span {
            color: #fff;
            font-weight: 600;
        }
    }
    p {
        color: #fff;
        font-weight: 400;
        span {
            color: #fff;
            font-weight: 600;
        }
    }
}

.icon-arrow-down {
    animation: floating 2s cubic-bezier(.7,0,.3,1) infinite;
    position: absolute;
    bottom: 2rem;
    fill: white;
    width: 1.5rem;
    height: auto;
}

@keyframes floating {
    0% {
        bottom: 2rem;
    }
    50% {
        bottom: 3rem;
    }
    100% {
        bottom: 2rem;
    }
}

// About

.about-container{
    margin-bottom: 0;
    padding-top: 4rem;
    background-color: #fff;
}

// Skills 

.skills-container {
    background-color: #fff;
    padding-top: 2rem;
}

// Projects

.projects-container {
    margin-bottom: 3rem;
    margin-top: 3rem;

    .project-thumbnail {
        padding-left: 0px;
        padding-right: 0px;
        transition: $links-hover-transition;
        box-shadow: 2rem 2rem 4rem #d8d8d8;
        
        &:hover .project-thumbnail-hover {
            opacity: 1;
        }

        .project-thumbnail-hover {
            opacity: 0;
            background: rgba(0, 0, 0, 0.5);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            color: rgba(255, 255, 255, 1);
            text-align: center;
            transition: opacity 0.7s ease;
        }
    }
}

// Contact

.contact-container {
    margin-top: 2rem;
    
    .contact-background {
        padding: 15px;
        margin-top: 1rem;
        width: 80%;
        
        .form-control {
            border: 1px solid $text-color;
            &:focus {
                outline: 0;
                box-shadow: none;
            }
        }
        .btn-outline-light {
            background-color: #000;        
            color: #fff;
            // border: 1.4px solid $highlights;
            border-radius: 0;
            margin-top: 1rem;
            text-transform: uppercase;
            &:hover {
                background-color: #000;
                color: #fff;
            } 
            &:active {
                color: $highlights;
                border: 1.4px solid $highlights;
            }
        }
    }            
}
        
// Footer

.social-icons-container {
    background-color: #000;
    padding-top: 5rem;
    padding-bottom: 5rem;
    margin-top: 2rem;
    padding-bottom: 5rem;
    
    .fa {
        color: #fff;
        margin-right: 1rem;
    }
}