block variables
doctype html
html
  head
    title= `${title || 'Home'} | ${helpers.siteName}`
    link(rel='stylesheet', href='/dist/style.css')
    meta(name="description", content=`${description  || 'Kostas Degaitas'}`)
    meta(name="viewport", content="width=device-width, initial-scale=1")

  body(class=bodyClass ? bodyClass : '')

    block navigation
        include partials/navbar

    block landing
        include partials/home

    block about
        include partials/about

    block skills
        include partials/skills

    block projects
        include partials/projects

    block contact
        include partials/contact

    block footer
        include partials/footer

    block scripts
      script(src="/dist/app.bundle.js")