extends layout

block content
    .container-fluid.gallery-container
        .row#album
            .col-12.col-md-4.col-lg-3.album-item
                img.img-thumbnail(src="/images/thumb_1.jpg")
                a.album-item-hover(data-fancybox="gallery" href="/images/img_1.jpg" target="_blank")
                    i.fa.fa-plus-square-o.fa2x(aria-hidden="true")
        

